---
import BaseHead from '../components/BaseHead.astro'
import BaseBody from '../components/BaseBody.astro'
import Header from '../components/Header.astro'
import Section from '../components/Section.astro'
import SectionWavy from '../components/SectionWavy.astro'
import HeroLeft from '../domain/hero/HeroLeft.astro'
import HeroRight from '../domain/hero/HeroRight.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../siteConfig'
import HurFungerarDet from '../domain/HurFungerarDet.astro'
import SnabbtSmidigtEnkelt from '../domain/SnabbtSmidigtEnkelt.astro'
import VanligaFragor from '../domain/VanligaFragor.astro'
import KontaktFormular from '../domain/KontaktFormular.astro'
import KontaktInfo from '../domain/KontaktInfo.astro'
import RowButColumnOnMobile from '../components/RowButColumnOnMobile.astro'
import Footer from '../domain/Footer.astro'
---

<!doctype html>
<html lang="sv">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <BaseBody>
        <Header />
        <main>
            <Section style="padding-bottom: 140px">
                <RowButColumnOnMobile style="gap: 35px; align-items: center">
                    <HeroLeft style="flex: 1" />
                    <HeroRight style="flex: 1.2" />
                </RowButColumnOnMobile>
            </Section>

            <SectionWavy waveHeight={65}>
                <HurFungerarDet />
            </SectionWavy>

            <Section>
                <SnabbtSmidigtEnkelt />
            </Section>

            <!--
            <Section>
                <KundRecensioner />
            </Section>
            -->

            <SectionWavy waveHeight={45}>
                <VanligaFragor />
            </SectionWavy>

            <Section>
                <RowButColumnOnMobile style="gap: 75px; align-items: flex-start">
                    <KontaktFormular style="width: 100%" />
                    <KontaktInfo style="width: 100%" />
                </RowButColumnOnMobile>
            </Section>
        </main>
        <Section>
            <Footer />
        </Section>
    </BaseBody>
</html>
