---
import CrossedIcon from '../icons/CrossedIcon.astro'
---

<li style="display: grid; grid-template-columns: 25px 1fr; gap: 12px">
    <CrossedIcon style="margin: auto; color: #d00000" />
    <slot />
</li>
