---
import CheckedIcon from '../icons/CheckedIcon.astro'
---

<li style="display: grid; grid-template-columns: 25px 1fr; gap: 12px">
    <CheckedIcon style="margin: auto; color: var(--accent-color); font-size: 1.3rem" />
    <slot />
</li>
