---
import { Image } from 'astro:assets'
const { style, img, width, ...other } = Astro.props
---

<a href={img.src}>
    <Image
        style="border: 1px solid #999; border-radius: 4px; height: auto"
        src={img}
        width={width ?? 700}
        densities={[1.5, 2]}
        alt=""
        {...other}
    />
</a>
