<style>
    .swiper-slide {
        padding-left: clamp(75px, 10%, 175px);
        padding-right: clamp(75px, 10%, 175px);
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>
<div class="swiper-slide"><slot /></div>
